
.home-container{
    background-color: gray;
    height:80vh;
    

    display:grid;
    grid-template-columns: 60% 40%;
}

.instruc-container{
    font-size: 1.5rem;
    margin:1rem;
}

.play-button-container{
    display: flex;
    justify-content: center;
}

.play-button{
    padding:1rem 2.5rem;
    margin-top:1rem;
}

footer{
    height:10vh;
}