

.title{
    display: flex;
    justify-content: center;
}

.instructions li{
    margin-top:1rem;
}

.mario-img{
    // margin-top: 40rem;
    // height:auto;
    // min-width: 90%;
    height: 90%;
}
